/* CONTAINER */
.portfolio-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2.5rem;
}



/* ARTICLE */
.portfolio-article {
   background: var(--color-bg);
   padding: 1.3rem;
   border-radius: 2rem;
   border: 1px solid var(--color-primary);
   transition: var(--transition);
}
.portfolio-article:hover {
   border-color: var(--color-white);
   background: transparent;
}

.swiper-pagination {
   top: 95%;
}

.portfolio-div-image {
   border-radius: 1.5rem;
   overflow: hidden;
   border: 1px solid var(--color-primary);
}
.portfolio-article:hover .portfolio-div-image {
   border-color: var(--color-white);
}

.portfolio-article h3 {
   margin: 0.5rem 0 2rem 0;
   font-size: x-large;
}

.portfolio-buttons {
   display: flex;
   justify-content: center;
   gap: 1.5rem;
   padding-bottom: 5px;
}



/* ============== MEDIA QUERIES ============== */

/*   (tablets)   */
@media screen and (max-width: 1250px) {
   .portfolio-container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
   }
}

/*   (phones)   */
@media screen and (max-width: 700px) {
   .portfolio-container {
      grid-template-columns: 1fr;
      gap: 1rem;
   }

}