nav {
   
   width: max-content;
   display: block;
   padding: 0.5rem 0.8rem;
   z-index: 2;
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 2rem;
   display: flex;
   gap: 0.8rem;
   border-radius: 3rem;
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); /*glossy effect */
   backdrop-filter: blur(15px);
   
}


nav ul {
   display: flex;
   flex-direction: row;
}

nav ul li a {
   padding: 0.7rem;
   margin-left: 0.15rem;
   margin-right: 0.15rem;
   border-radius: 50%;
   display: flex;
   font-size: 1.1rem;
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); /*glossy effect */
   backdrop-filter: blur(15px);

}

nav ul li a:hover {
   background: var(--color-white);
   color: var(--color-primary-variant);   /* ya esta definido white para a:hover pero me gusta mas este para icono */
}

nav ul li a.active {
   background-color: var(--color-primary);
   color: var(--color-bg);
}