/* CONTAINERS */
.experiece {
   height: 600px;
   margin-bottom: 250px;
}

.experience_container {
   display: flex;
   justify-content: center;
   gap: 1rem;
   transition: var(--transition);
}

.experience_type {
   display: flex;
   gap: 1.5rem;
   justify-content: center;
   font-size: 1.2rem;
   margin-bottom: 1.5rem;
}

.experience-type-divider {
   content: "";
   width: 1px;
   height: 2rem;
   background-color: var(--color-white);
   margin-top: 50px;
   position: relative;
   top: 1px;
}

.experience_card {
   background: transparent;
   padding: 2rem 1.5rem;
   border-radius: 2rem;
   border: 1px solid var(--color-primary);
   transition: var(--transition);
   width: 100%;
   max-width: 800px;
}
.experience_card:hover {
   border-color: var(--color-white);
   cursor: default;
}




/* TEXTS and ICONS */

/* general */
.experience_card h3, .experience_card h4, .experience_icon {
   color: var(--color-primary);
   transition: var(--transition);
}

.experience_type h3 {
   transition: var(--transition);
   border-bottom: 1px solid;
   cursor: pointer;
   margin-top: 50px;
}

/* SECTION TITLES */
.experience_type h3 {
   border-bottom-color:transparent;
}
.experience_type h3:hover {
   border-bottom-color: var(--color-white);
}
/* when title clicked */
.experience_type .clicked-section {
   color: var(--color-primary) !important;
} 

.experience_type .clicked-section:hover {
   border-bottom-color: var(--color-primary) !important;
}


.experience_card h3 {
   text-align: center;
   margin-bottom: 2rem;
}

.experience_flip_icon {
   display: none;
}

.experience_content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 2rem;
}

.experience_details {
   display: flex;
   gap: 0.5rem;
}

.experience_icon {
   margin-top: 6px;
   color: var(--color-white);
   width: 25px;
}




/* ============== MEDIA QUERIES ============== */

/*   (phones)   */
@media screen and (max-width: 800px) {
   .experiece {
      height: 900px;
   }

   .experience_container {
      display: grid;
      grid-template-columns: 1fr;
   }

   .experience_flip_icon {
      display:inline;
      color: var(--color-white);
      font-size: 1.5rem;
      position: relative;
      left: 10px;
      top: 6px;
   }
   .experience_card:hover .experience_flip_icon {
      color: var(--color-bg-variant);
   }

   .experience_container .non-active {
      display: none;
   }
}



/*   (smaller phones)   */
@media screen and (max-width: 600px) {

   .experience_card {
      padding: 2rem 1rem;
   }

   .experience_type {
      margin-left: 1%;
      margin-right: 1%;
      gap: 0.7rem;
   }

   .experience-type-divider {
      height: 1.5rem;
      top: 2px;
   }
   
   .experience_type h3 {
      font-size: 1rem;
   }

}

@media screen and (max-width: 400px) {


   .experience_type {
      margin-left: 1%;
      margin-right: 1%;
      gap: 0.4rem;
   }
   
   
   
   .experience_type h3 {
      font-size: 0.9rem;
   }

}

