/* ============== GENERAL HEADER STYLE ============== */
header {
   padding-top: 10vh;
   margin-bottom: 250px;
}

.header_container {
   text-align: center;
   height: 90vh;
   position: relative;
}

.header-themes {
   position: absolute;
   top: -9vh;
   display: flex;
}

.theme {
   margin-left: 10px;
   cursor: pointer;
}
.theme:hover {
   color: var(--color-primary);
}

.header-animation-container {
   height: 65vh;
}

.header-animation {
   margin-top: 20vh;
   height: 20vh;
   margin-bottom: 20vh;
}





/* ============== HEADER BUTTONS ============== */
.header_btn_container {
   margin-top: 1.5rem;
   display: flex;
   gap: 2.3rem;
   justify-content: center;
}



/* ============== HEADER SOCIALS ============== */
.header_socials {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   position: absolute;
   left: 0;
   bottom: 3rem;
}
.header_socials::after {
   content: "";
   width: 1px;
   height: 2rem;
   background-color: var(--color-primary);
}

.header-socials-icon {
   color: var(--color-primary);
}



/* ============== SCROLL DOWN ============== */
.scroll_down {
   position: absolute;
   right: -2.3rem;
   bottom: 5rem;
   transform: rotate(90deg);
   font-weight: 300;
   font-size: 0.9rem;
   color: var(--color-primary);
}




/* ============== MEDIA QUERIES ============== */

/*   (phones)   */
@media screen and (max-width: 400px) {
   .header_socials, .scroll_down {
      display: none;
   }
}